.header-subtitle{
    text-decoration: none;
    color: black;
    font-size: 120%;
    margin-right: 50px;
   
}

.header-title{
    text-decoration: none;
    color: black;
    font-size: 180%;
    margin-right: 30px;
    margin-left: 10%;
    pointer-events: none;
    font-weight: bold;

}



.container-fluid{
  
    position: fixed;
    margin-top: 2%;
    height: 12%;
    z-index: 100;
    background-color: white;
    
}


